body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-rank {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-rank:after {
  clear: both;
  content: "";
  display: table;
  justify-content: center;
  align-items: center;
}

.board-rank-label {
  float: left;
  font-size: 28px;
  line-height: 34px;
  padding: 12px;
}

.board-files {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}

.board-file-label {
  float: left;
  font-size: 28px;
  line-height: 34px;
  width: 96px;
  text-align: center;
  padding-top: 8px;
}

.status {
  margin-bottom: 10px;
}

.piece {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 6px solid rgba(0,0,0,0);
}

.captureable {
  width: 64px;
  height: 64px;
  border: 6px solid darkgreen;
  opacity: 75%;
}

.available{
  width: 24px;
  height: 24px;
  border: 0px solid black;
  background: #555555;
  opacity: 75%;
}

.square {
  display: flex;
  border: 1px solid #555;
  float: left;
  font-size: 72px;
  font-weight: bold;
  line-height: 34px;
  height: 96px;
  width: 96px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
}

.dark {
  background: #999;
}

.light {
  background: #fff;
}

.square-selected {
  outline: none;
  background: lightgreen;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
